# Location of backup repository. 
BORG_REPO="ssh://user@server.name/path/to/repo"

# File that contains the borg passphrase. Assume this
# lives in the same location as the executable script
# (and this env file)
BORG_PASS_FILE_PATH="borg_backup.pass"

# List of paths to back up.
BACKUP_DIRS="/home /etc /root /var /usr/local"