# First we create the components of the connection string for 
# pg_dump. Each of these components should be extracted from the
# db connection string that you can find for your project on Supabase
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.putuphnphwpdlwxpcehp
DB_HOST="aws-1-ap-southeast-2.pooler.supabase.com"

# Now we reconstruct the connection string but without the db password
# We'll pull the password in from a .pgpass file
CONNECTION_STRING="postgresql://${DB_USER}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

# Where we write the backups
BACKUP_PATH="/var/backups/ralog_db_backup.sql"